.section--multirow{
    .image-with-text__grid{
        .grid__item:nth-child(2) {
            @media screen and (min-width: 990px) {
            .image-with-text__content {
                padding-left: 110px;
            }
            }
        }
    }

    .image-with-text__grid.image-with-text__grid--reverse{
        .grid__item:nth-child(2) {
            @media screen and (min-width: 990px) {
            .image-with-text__content {
                padding-left: 68px;
            }
            }
        }
    }

    .image-with-text__content{
        @media screen and (max-width: 768px) {
            padding-block: 32px 35px;
        }

        .image-with-text__text {
            margin-top: 25px;
            font-size: 36px;
            line-height: normal;
            @media screen and (max-width: 768px) {
                margin-top: 20px;
                font-size: 18px;
            }
        }
    }
}