.section--rich-text{
    .rich-text__wrapper{
        .rich-text__caption{
            color: #E87E3F;
        }
        .rich-text__heading{
            margin-top: 0px;
            line-height: normal;
        }
    }
}